<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jwxtssm.dao.IStudyTalking">
    <insert id="addStudyTalking" parameterType="StudyTalking" useGeneratedKeys="true" keyProperty="talkId">
        insert into study_talking values (null, #{basicId}, #{courseId}, #{attachDocId}, #{title}, #{content}, #{hot}, #{state}, #{publishDate}, #{historyCount});
    </insert>
</mapper>