<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jwxtssm.dao.ICollege">
    <insert id="com.jwxtssm.dao.ICollege.addCollege" parameterType="College" useGeneratedKeys="true" keyProperty="collegeId">
        insert into college values (null, #{name}, #{intro}, #{address})
    </insert>
</mapper>