<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jwxtssm.dao.ICourseRecords">
    <insert id="com.jwxtssm.dao.ICourseRecords.addCourseRecords" parameterType="CourseRecords">
        insert into course_records values (#{courseId}, #{basicId}, #{finalScore}, #{state})
    </insert>
</mapper>