<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jwxtssm.dao.IAuthInfo">
    <insert id="com.jwxtssm.dao.IAuthInfo.addAuthInfo" parameterType="AuthInfo" useGeneratedKeys="true" keyProperty="authId">
        insert into auth_info values (null, #{authCode}, #{validFrom}, #{validTo})
    </insert>
</mapper>