<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jwxtssm.dao.ISystemMessage">
    <insert id="com.jwxtssm.dao.ISystemMessage.addSystemMessage" parameterType="SystemMessage" useGeneratedKeys="true" keyProperty="systemMessageId">
        insert into system_message values (null, #{basicId}, #{type}, #{content}, #{publishDate}, #{priority}, #{state});
    </insert>
</mapper>